{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 md-5">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center">Sign in</h1>
        
                {{error}}
                {% csrf_token %} 

                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" class="form-control" placeholder="Introduzca su usuario">
                </div>

                <div class="mb-3">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" class="form-control" placeholder="Introduzca su contraseña">
                </div>

                <button class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}